body {
    font-family: Helvetica;
    text-align: center;
    color: white;
    background-color: rgb(49, 30, 30);
    padding: 20px;
    margin: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

ul li {
    margin: 1px;
}

ul li a {
    color: blue;
    text-decoration: none;
    transition: 0.5s;
}

ul.nav {
    margin: 0;
    padding: 0;
}

ul.nav li {
    list-style: none;
    display: inline;
}

ul.nav li a {
    float:left;
    border:3px solid white;
    width:6.0em;
    font: 1.2em Verdana, Arial, Helvetica, 
    sans-serif;
    background: white;
    color:rgb(49, 30, 30);
    text-align:center;
    padding:0  0.2em 0.2em  0;
    text-decoration:none;
}

ul.nav a:hover {
    background: rgb(49, 30, 30);
    color: white;
    border-color: gray;
}

h1 {
    font-size: 32px;
}

sub {
    font-size: 20px;
}

#pc {
    border: 3px solid rgb(15, 194, 218);
    height: 300px;
}

h2 {
    width: auto;
    height: auto;
}

h3 {
    background-color: #fff;
}

h3 img {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}

#OCI-Descrição {
    margin: 30px;
    text-align: left;
}

#ADBP-Descrição {
    margin: 30px;
    text-align: left;
}

footer {
    padding: 20px;
    border-top: 1px solid rgb(49, 30, 30);
    margin: 20px;
}